.contacts {
  width: 330px;
  margin: 0 auto;
}


.search-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.contacts-list {
  padding: 0;
  width: 330px; /*330px*/
  visibility: hidden; /* add by me */
  /*transition: ease-out .7s;  */
  transition: width 0.6s ease-out 0s;

  /*transition: height 1s ease-out 0s;*/
  /*margin-top: -10%;*/
}

.contact {
  display: flex;
  align-items: center;
  /*font-family: sans-serif;*/
  width: 105%; /*100%*/
  padding: 2px;
  margin: 0;
  /*border-bottom: 1px dotted grey;*/
  /*background: #f2f2f5;*/
  border-radius: 1px;
  color: #635959;
  box-shadow: 1px 1px 1px 1px #b9bfe8;

  /*justify-content: center; *added */
}

.contact-image {
    border-radius: 5px;
    margin: 2px;
}

.contact-name {
  font-size: 16px;
  /*font-weight: bold;*/
}

.contact-number {
  font-size: 16px;
  color: grey;
}
/*
li .contact:hover {
    color: blue;
}*/
a {
  text-decoration: none;
  color: black;
}

.contact:hover {
  background: linear-gradient(#f8e899, #f4f4d6);
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.25);
  box-shadow: 1px 1px 1px 1px #b9bfe8;
  border-radius: 7px;
  font-weight: bold;
}